<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .card {
            width: 100%;
        }
    </style>
    <partial name="_ValidationScriptsPartial"/>
</head>
<body>
    <div>
        <vc:navigation-bar />
    </div>
    <div class="m-2">@RenderBody()</div>
</body>
</html>
