@page
@model DetailsModel

<table class="table table-sm table-bordered">
    <tbody>
        @if (Model.User == null)
        {
            <tr><th class="text-center">No User</th></tr>
        }
        else
        {
            <tr><th>Name</th><td>@Model.MyUser.UserName</td></tr>
            <tr><th>Email</th><td>@Model.MyUser.Email</td></tr>
        }
    </tbody>
</table>