@page
@model RegisterModel

<partial name="_ValidationScriptsPartial" />

<div class="vertical-center bg-light">
    <div class="container w-25">
        <h1 class="h3 mb-3 fw-normal text-center">Register new account</h1>
        <div class="m-1 text-danger" asp-validation-summary="All"></div>
        <form method="post" class="text-center">
            <div class="input-group input-group-lg">
                <div><span asp-validation-for="UserName" class="text-danger"></span></div>
                <input asp-for="UserName" placeholder="User name" class="form-control w-75" />

                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                <input asp-for="Email" placeholder="Email" class="form-control w-75" />

                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <input asp-for="Password" placeholder="Password" class="form-control w-75" />
            </div>
            <br/>
            <button type="submit" class="w-100 btn btn-lg btn-outline-info">Register</button>
            @*<a asp-page="Login" class="btn btn-outline-dark">Login</a>*@
        </form>
    </div>
</div>