@page
@model RegisterModel

<partial name="_ValidationScriptsPartial" />

<h5 class="bg-dark text-white text-center p-2">Register new accout</h5>
<form method="post" class="text-center">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
        <input asp-for="UserName" placeholder="User name" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" placeholder="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" placeholder="User name" />
    </div>
    <button type="submit" class="btn btn-outline-info">Register</button>
    <a asp-page="Login" class="btn btn-outline-dark">Login</a>
</form>
