@model ShoppingCart

<div class="m-2 table-responsive">
    <h4 class="bg-dark text-white text-center p-2">Products list</h4>
    <table class="table table-sm table-bordered table-striped align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quanitity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CartItem in Model.CartItems)
            {
                <tr>
                    <td>@CartItem.Product.ProductId</td>
                    <td>@CartItem.Product.Name</td>
                    <td>@CartItem.Product.Price</td>
                    <td>@CartItem.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-outline-primary" asp-action="Index"
           asp-controller="Home" role="button">Back</a>
    </div>
</div>